<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss,SSS} %p [%t] %c - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.base}/logs/file.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss,SSS} %p [%t] %c - %m%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>

