<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http use-expressions="true" entry-point-ref="restAuthenticationEntryPoint">
		<security:form-login login-processing-url="/spring/login" authentication-success-handler-ref="restSuccessHandler" authentication-failure-handler-ref="restAuthenticationFailureHandler" />
		<security:logout logout-url="/spring/logout" success-handler-ref="restSuccessHandler" />
		<security:intercept-url pattern="/index.html" access="permitAll" />
		<security:intercept-url pattern="/**" access="permitAll" method="OPTIONS"/>
		<security:intercept-url pattern="/**" access="isAuthenticated()" />
	</security:http>

	<bean id="restAuthenticationEntryPoint" class="com.fornacif.security.RestAuthenticationEntryPoint" />
	<bean id="restSuccessHandler" class="com.fornacif.security.RestSuccessHandler" />
	<bean id="restAuthenticationFailureHandler" class="com.fornacif.security.RestAuthenticationFailureHandler" />

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider>
			<security:user-service>
				<security:user name="test" password="test" authorities="ROLE_USER" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

	<jaxrs:server id="testServer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="testService" />
		</jaxrs:serviceBeans>

		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="testService" class="com.fornacif.service.TestServiceImpl" />

</beans>